* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}



.title {
    font-size: 60px;
    /* color: deepskyblue; */
    background-image: linear-gradient(to right, blue, skyblue, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 40px;
    ;
}

#userGuide {
    float: right;
    font-size: 20px;
    color: white;
    text-align: right;
}

.guide-box {
    position: absolute;
    top: 5%;
    right: 5%;
}

#userGuide:hover {
    font-size: 21px;
}

.logout {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 35px;
    cursor: pointer;

    &:hover {
        font-size: 38px;
        filter: brightness(1.2);
    }
}


.button-box {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.login-form>div {
    font-size: 16px;
    text-align: right;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    line-height: 2.2rem;
}

.login-form>div>input {
    width: 60%;
    margin-left: 10px;
}

.submit-btn {
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-right: 10px;
    background-color: #303030;
    border: none;
    float: right;
}

.submit-btn:hover {
    margin: 0 0 0 20px;
    transition: 0.5s;
    cursor: pointer;
}


/* 로그인 회원가입 전환 */
.hidden {
    display: none;
}

.btn-check {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
}

/* #headerhr  */