<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit Friend - 로그인 페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<style>
    main {
        width: 30%;
        margin: 0 auto;
    }

    body {
        height: 100vh;
        width: 100vw;
        background-color: #303030;
    }

    footer>div:nth-child(1) {
        margin: 20px;
        width: 170px;
        position: absolute;
        left: 10%;
        bottom: 0;
        position: absolute;
        left: 10%;
        bottom: 0;
    }

    footer>div:nth-child(2) {
        margin: 20px;
        width: 170px;
        position: absolute;
        right: 10%;
        bottom: 0;
        position: absolute;
        right: 10%;
        bottom: 0;
    }
</style>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{messages[0] }}");
    </script>
    {% endif %}
    {% endwith %}
    <!-- 로고 -->
    <header>
        <div class="guide-box">
            <a href="{{ url_for('guide') }}" id="userGuide">사용 가이드</a>
            <a href="{{ url_for('guide') }}" id="userGuide">사용 가이드</a>
        </div>
        <div class="title">
            FitFriend
        </div>
    </header>
    <main>
        <!-- 버튼 -->
        <section class="button-box">
            <!-- 로그인 버튼 -->
            <button id="login-btn" class="button btn-check is-large">로그인</button>
            <!-- 회원가입 버튼 -->
            <button id="join-btn" class="button is-large">회원가입</button>
        </section>
        <!-- 로그인 폼 작성 -->
        <form id="login-form" method="post" action="/loginOk">
            <section class="login-form">
                <div class="control">
                    이름 <input class="input" id="username" name="username" type="text" placeholder="이름을 입력하세요.">
                </div>
                <div class="control">
                    비밀번호 <input class="input" id="password" name="password" type="password" placeholder="비밀번호를 입력하세요.">
                </div>
            </section>
            <input type="submit" class="submit-btn" value="Go →" />
        </form>
        <!-- 회원가입 폼 작성 -->
        <form id="join-form" class="hidden" method="post" action="/join">
            <section class="login-form">
                <div class="control">
                    이름 <input class="input is-success" id="join-username" name="username" type="text"
                        placeholder="이름을 입력하세요.">
                </div>
                <div style="display: flex; margin-left: 110px;">
                    <span style="margin-right: 10px;">성별</span>
                    <div class="select is-success">
                        <select name="gender">
                            <option value="남">남자</option>
                            <option value="여">여자</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    비밀번호 <input class="input is-success" id="join-password" name="password" type="password"
                        placeholder="비밀번호를 입력하세요.">
                </div>
                <div class="control">
                    비밀번호 확인 <input class="input is-success" id="join-passwordcheck" name="passwordcheck" type="password"
                        placeholder="비밀번호를 확인하세요.">
                </div>
            </section>
            <input type="submit" class="submit-btn" value="Go →" />
        </form>
    </main>
    <!-- 이미지들 -->
    <footer>
        <div><img src="{{ url_for('static', filename='img/dumbbell.png') }}" /></div>
        <div><img src="{{ url_for('static', filename='img/exercise.png') }}" /></div>
    </footer>
</body>
<script>
    $('#login-btn').click(function () {
        $('#login-form').removeClass('hidden');
        $('#join-form').addClass('hidden');
        $('#login-btn').addClass('btn-check');
        $('#join-btn').removeClass('btn-check');
    });

    $('#join-btn').click(function () {
        $('#join-form').removeClass('hidden');
        $('#login-form').addClass('hidden');
        $('#login-btn').removeClass('btn-check');
        $('#join-btn').addClass('btn-check');
    });

    // 회원가입 유효성
    $('#join-form').on('submit', function (e) {
        var password = $('#join-password').val();
        var passwordCheck = $('#join-passwordcheck').val();
        var username = $('#join-username').val();

        console.log(password);
        console.log(passwordCheck);
        console.log(username);

        if (password !== passwordCheck) {
            e.preventDefault();
            alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
        }

        if (!username) {
            e.preventDefault();
            alert('이름을 작성해주세요.');
        }
    });

    // 로그인 유효성
    $('#login-form').on('submit', function (e) {
        var loginName = $('#username').val();
        var loginPassword = $('#password').val();

        if (!loginName) {
            e.preventDefault();
            alert('이름을 작성해주세요.');
        }

        if (!loginPassword) {
            e.preventDefault();
            alert('비밀번호를 작성해주세요.');
        }
    });
</script>

</html>